<p id="notice"><%= notice %></p>

<p>
  <strong>Creator:</strong>
  <%= @job.creator %>
</p>

<p>
  <strong>Assignee:</strong>
  <%= @job.assignee %>
</p>

<p>
  <strong>Recipient:</strong>
  <%= @job.recipient %>
</p>

<p>
  <strong>Template:</strong>
  <%= @job.template %>
</p>

<p>
  <strong>Created at:</strong>
  <%= @job.created_at %>
</p>

<p>
  <strong>Start after:</strong>
  <%= @job.start_after %>
</p>

<p>
  <strong>Due by:</strong>
  <%= @job.due_by %>
</p>

<%= link_to 'Edit', edit_job_path(@job) %> |
<%= link_to 'Back', jobs_path %>
